*.tar
/C_Container/docs/html
*.asv
docs/la_performance_runs_v2.csv
docs/xfer.ngzip
docs/xfer/architecture_v0.png
docs/xfer/la_overview.txt
C_Container/build/.ninja_deps
C_Container/build/.ninja_log
C_Container/build/build.ninja
C_Container/build/cmake_install.cmake
C_Container/build/CMakeCache.txt
C_Container/build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
C_Container/build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
C_Container/build/CMakeFiles/3.22.1/CMakeSystem.cmake
C_Container/build/CMakeFiles/3.22.1/CompilerIdCXX/a.out
C_Container/build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
C_Container/build/CMakeFiles/_CMakeLTOTest-CXX/bin/.ninja_deps
C_Container/build/CMakeFiles/_CMakeLTOTest-CXX/bin/.ninja_log
C_Container/build/CMakeFiles/_CMakeLTOTest-CXX/bin/boo
C_Container/build/CMakeFiles/_CMakeLTOTest-CXX/bin/build.ninja
C_Container/build/CMakeFiles/_CMakeLTOTest-CXX/bin/cmake_install.cmake
C_Container/build/CMakeFiles/_CMakeLTOTest-CXX/bin/CMakeCache.txt
C_Container/build/CMakeFiles/_CMakeLTOTest-CXX/bin/CMakeFiles/boo.dir/main.cpp.o
C_Container/build/CMakeFiles/_CMakeLTOTest-CXX/bin/CMakeFiles/cmake.check_cache
C_Container/build/CMakeFiles/_CMakeLTOTest-CXX/bin/CMakeFiles/foo.dir/foo.cpp.o
C_Container/build/CMakeFiles/_CMakeLTOTest-CXX/bin/CMakeFiles/rules.ninja
C_Container/build/CMakeFiles/_CMakeLTOTest-CXX/bin/CMakeFiles/TargetDirectories.txt
C_Container/build/CMakeFiles/_CMakeLTOTest-CXX/bin/libfoo.a
C_Container/build/CMakeFiles/_CMakeLTOTest-CXX/src/CMakeLists.txt
C_Container/build/CMakeFiles/_CMakeLTOTest-CXX/src/foo.cpp
C_Container/build/CMakeFiles/_CMakeLTOTest-CXX/src/main.cpp
C_Container/build/CMakeFiles/cmake.check_cache
C_Container/build/CMakeFiles/CMakeOutput.log
C_Container/build/CMakeFiles/demo.dir/src/main.cpp.o
C_Container/build/CMakeFiles/FindOpenMP/ompver_CXX.bin
C_Container/build/CMakeFiles/FindOpenMP/OpenMPCheckVersion.cpp
C_Container/build/CMakeFiles/FindOpenMP/OpenMPTryFlag.cpp
C_Container/build/CMakeFiles/rules.ninja
C_Container/build/CMakeFiles/simple_la.dir/src/la_eigen.cpp.o
C_Container/build/CMakeFiles/TargetDirectories.txt
C_Container/build/demo
C_Container/build/libsimple_la.a
